<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <title>基金信息</title>
    </head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="static/javascript/bootstrap3-typeahead.min.js"></script>
	<script src="static/javascript/echarts.min.js"></script>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/dashboard.css">
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" style='background:#272727' role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" style="padding-left:50px"><img src="static/img/logo.PNG" height=40px  style="padding-bottom: 10px"></a>
        </div>

        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 60px;">
          <form class="navbar-form navbar-left search-margin-left" action="/fundinfo" method="post">
            <input type="text" class="form-control" placeholder="Search..." name="fundquery" id="fund_search" >
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Help</a></li>
          </ul>
        </div>
      </div>
    </nav>
	<div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active na-bac font-white"><a href="#">查询</a></li>
            <li><a href="fundstar">收藏</a></li>
            <li><a href="#fundselector">挑选</a></li>
          </ul>
		</div>
	  </div>
	</div>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	{%if not fund%}
	<h3 class="page-header">基金不存在</h3>
	{%else%}
		<p class="fund-name">{{ fund["fund_name"] }}</p>
		<p class="fund-code">{{ fund["code"] }}</p>
		<p><span class="font-size-m">关键词: </span><span class="keywords">{{ fund["tags"] }}</span><p>
		<p><span class="font-size-m">评级: </span> <span class="star_color" style="margin-left: 20px;">
				{% for entry in range(fund["level"])  %}
              		 <span class="glyphicon glyphicon-star"></span>
				{%endfor%}
			</span>

		<p>
		<p><a href=# id="savings_fund" style="color:#963947"><img src="static/img/red-star.png"/ style="width:20px">加入收藏</a></p>

		 <div class="row margin_l_top">

		  <div class="table-responsive table table-striped">
		  	<div class＝"bonus" style="overflow:hidden;">
		  		<div class="bonus-item">
		  			<p class="rate-text">累计收益</p>
		  			<p class="rate">{{ "%.2f%%" % (fund["acc_return"]*100) }}</p>
		  		</div>
		  		<div class="bonus-item">
		  			<p class="rate-text">年化收益</p>
		  			<p class="rate">{{ "%.2f%%" % (fund["annaul_return"]*100) }}</p>
		  		</div>
		  		<div class="bonus-item">
		  			<p class="rate-text">最大回撤</p>
		  			<p class="rate">{{ "%.2f%%" % (fund["max_drawdown"]*100) }}</p>
		  		</div>

		  		<div class="bonus-item">
		  			<p class="rate-text">波动率</p>
		  			<p class="rate">{{ "%.2f%%" % (fund["volatility"]*100) }}</p>
		  		</div>

		  		<div class="bonus-item">
		  			<p class="rate-text">夏普比例</p>
		  			<p class="rate">{{ "%.2f" % fund["sharp_ratio"] }}</p>
		  		</div>
		  </div>
		</div>

		{%if funddata%}
		  <h5 class="sub-header">>维度解析</h5>
		  <div id="main" style="height:400px;width:600px;margin-left: 20%;"></div>

		  <div class="row margin_l_top">
			  <div class="table-responsive">
	            <table class="table table-striped">
	              <tbody>
	                <tr>
	                  <td>
						<div id="market_chart"  style="height:400px; width:400px;"></div>
	                  </td>
	                  <td><div id="main2" style="height:400px;width:400px;float:left;"></div></td>
	                </tr>
	                <tr>
	                  <td><div id="main3" style="height:400px;width:400px;float:left;"></div></td>
					  {%if funddata["percentile"][0] > 0.5%}
					  <td><h3>买涨</h3><br><img src="static/img/up.jpg" height=250px width=250px></td>
					  {%else%}
					  <td><h3>买跌</h3><br><img src="static/img/down.jpg" height=250px width=250px></td>
					  {%endif%}
					</tr>
				  </tbody>
				</table>
			</div>
		  </div>
	<h5 class="sub-header">>变化趋势</h5>
	<div id="main_" style="height:400px;width:600px;margin-left: 20%;"></div>
</body>

    <script type="text/javascript">
         var myChart = echarts.init(document.getElementById('main'));

         var lineStyle = {
		    normal: {
		        width: 1,
		        opacity: 0.5
		    }
		};

		option = {
		    backgroundColor: '#fff',
		    title: {
		        text: '',
		        left: 'center',
		        textStyle: {
		            color: '#eee'
		        }
		    },
		    legend: {
		        bottom: 5,
		        data: ['北京'],
		        itemGap: 20,
		        textStyle: {
		            color: '#fff',
		            fontSize: 14
		        },
		        selectedMode: 'single'
		    },
		    radar: {
		        indicator: [
		            {name: '市场相关', max: 1},
		            {name: '标的规模', max: 1},
		            {name: '价值投资', max: 1},
		            {name: '追涨杀跌', max: 1},
		        ],
		        shape: 'circle',
		        splitNumber: 5,
		        name: {
		            textStyle: {
		                color: 'rgb(234,107,107)'
		            }
		        },
		        splitLine: {
		            lineStyle: {
		                color: [
		                    'rgba(234,107,107, 0.5)', 'rgba(234,107,107, 0.6)',
		                    'rgba(234,107,107, 0.7)', 'rgba(234,107,107, 0.8)',
		                    'rgba(234,107,107, 0.9)', 'rgba(234,107,107, 1)'
		                ].reverse()
		            }
		        },
		        splitArea: {
		            show: false
		        },
		        axisLine: {
		            lineStyle: {
		                color: 'rgba(234,107,107, 0.5)'
		            }
		        }
		    },
		    series: [
		        {
		            name: '1y',
		            type: 'radar',
		            lineStyle: lineStyle,
					data: [{
						value: [{{funddata["percentile"][0]}},{{funddata["percentile"][1]}},{{funddata["percentile"][2]}},{{funddata["percentile"][3]}}]
					}],
		            symbol: 'none',
		            itemStyle: {
		                normal: {
		                    color: '#F9713C'
		                }
		            },
		            areaStyle: {
		                normal: {
		                    opacity: 0.4
		                }
		            }
		        },
		    ]
		};
		myChart.setOption(option);

		var myChart2 = echarts.init(document.getElementById('main2'));
		option2 = {
		    backgroundColor: '#f9f9f9',

		    title: {
		        text: '标地规模',
		        left: 'center',
		        top: 20,
		        textStyle: {
		            color: '#000'
		        }
		    },
		    series : [
		        {
		            name:'',
		            type:'pie',
		            radius : '55%',
		            center: ['50%', '50%'],
		            data:[
		                {value:{{funddata["percentile"][1]}}, name:'小盘'},
		                {value:{{1-funddata["percentile"][1]}}, name:'大盘'}
		            ].sort(function (a, b) { return a.value - b.value}),
		            roseType: 'angle',
		            label: {
		                normal: {
		                    textStyle: {
		                        color: 'rgba(0, 0, 0, 0.3)'
		                    }
		                }
		            },
		            labelLine: {
		                normal: {
		                    lineStyle: {
		                        color: 'rgba(0, 0, 0, 0.3)'
		                    },
		                    smooth: 0.2,
		                    length: 10,
		                    length2: 20
		                }
		            },
		            itemStyle: {
		                normal: {
		                    color: '#c23531',
		                    shadowBlur: 200,
		                    shadowColor: 'rgba(0, 0, 0, 0.5)'
		                }
		            }
		        }
		    ]
		};
		myChart2.setOption(option2);

		var myChart3 = echarts.init(document.getElementById('main3'));
		option3 = {
			title: {text: '价值投资' },
		    tooltip : {
		        formatter: "{a} <br/>{b} : {c}%"
		    },
		    series: [
		        {
		            name: '价值',
		            type: 'gauge',
		            data: [{value: {{"%.2f" % (100*funddata["percentile"][2])}}, name: '价值'}]
		        }
		    ]
		};
		myChart3.setOption(option3);

		var myChart_ = echarts.init(document.getElementById('main_'));
		option_ = {
		    backgroundColor: '#fff',
		    title: {
		        text: '',
		        left: 'center',
		        textStyle: {
		            color: '#eee'
		        }
		    },
		    legend: {
		        bottom: 5,
		        data: ['北京'],
		        itemGap: 20,
		        textStyle: {
		            color: '#fff',
		            fontSize: 14
		        },
		        selectedMode: 'single'
		    },
		    radar: {
		        indicator: [
		            {name: '市场相关', max: 1},
		            {name: '标的规模', max: 1},
		            {name: '价值投资', max: 1},
		            {name: '追涨杀跌', max: 1}
		        ],
		        shape: 'circle',
		        splitNumber: 5,
		        name: {
		            textStyle: {
		                color: 'rgb(234,107,107)'
		            }
		        },
		        splitLine: {
		            lineStyle: {
		                color: [
		                    'rgba(234,107,107, 0.5)', 'rgba(234,107,107, 0.6)',
		                    'rgba(234,107,107, 0.7)', 'rgba(234,107,107, 0.8)',
		                    'rgba(234,107,107, 0.9)', 'rgba(234,107,107, 1)'
		                ].reverse()
		            }
		        },
		        splitArea: {
		            show: false
		        },
		        axisLine: {
		            lineStyle: {
		                color: 'rgba(234,107,107, 0.5)'
		            }
		        }

		    },
		    series: [
		        {
		            name: '1y',
		            type: 'radar',
		            lineStyle: lineStyle,
		            data : [

										{
											value : [{{funddata["period"]["Q1"][0]}},{{funddata["period"]["Q1"][1]}},{{funddata["period"]["Q1"][2]}},{{funddata["period"]["Q1"][3]}}],
											name : "Q1"
										},
										{
											value : [{{funddata["period"]["Q2"][0]}},{{funddata["period"]["Q2"][1]}},{{funddata["period"]["Q2"][2]}},{{funddata["period"]["Q2"][3]}}],
											name : "Q2"
										},
										{
											value : [{{funddata["period"]["Q3"][0]}},{{funddata["period"]["Q3"][1]}},{{funddata["period"]["Q3"][2]}},{{funddata["period"]["Q3"][3]}}],
											name : "Q3"
										},
										{
											value : [{{funddata["period"]["Q4"][0]}},{{funddata["period"]["Q4"][1]}},{{funddata["period"]["Q4"][2]}},{{funddata["period"]["Q4"][3]}}],
											name : "Q4"
										},
							],
		            symbol: 'none',
		            itemStyle: {
		                normal: {
		                    color: '#F9713C'
		                }
		            },
		            areaStyle: {
		                normal: {
		                    opacity: 0.4
		                }
		            }
		        },
		    ]
		};                // 为echarts对象加载数据
		myChart_.setOption(option_);


		var marketChart = echarts.init(document.getElementById('market_chart'));
		var fundCode = '{{ fund["code"] }}';
		var fundName = '{{ fund["fund_name"] }}';
		console.log(fundCode);
		$.get("http://localhost:5000/api/factor/market", {"query": fundCode}, function (data) {

			if (data.status == 'Ok') {
				var result = data['result'];
				if (result) {
					var dateList = result['dt'];
					var fundList = result[fundCode];
					var hsList = result['hs300'];
					marketChart.setOption({
					    title: {
					        text: '市场相关性'
					    },
					    tooltip: {
					        trigger: 'axis'
					    },
					    legend: {
    						data:['沪深300', fundName]
						},
						xAxis: {
					        type: 'category',
					        boundaryGap: false,
					        data: dateList

					    },
					    yAxis: {
					        type: 'value',
					        axisLabel : {
					        	formatter: function(value, index) {
					        		return (value*100).toFixed(1) + "%";
					        	}
					        }

					    },
					    series: [
					     	{
					            name:'沪深300',
					            type:'line',
					            stack: '总量',
					            data: hsList
					        },
					        {
					            name: fundName,
					            type:'line',
					            stack: '总量',
					            data: fundList
					        }
					    ]
					});

				}
			}

		});
	$('#savings_fund').click(function(event) {
		var fundCode = '{{ fund["code"] }}';
		$.get("http://localhost:5000/api/fund/saving", {"fund_code": fundCode}, function (data) {
			if (data.status == 'Ok') {
				alert("收藏成功");
			} else {
				alert("收藏出现问题");
			}
		});

	});
        $('#fund_search').typeahead({

            source: function (query, process) {
                return $.get("http://localhost:5000/api/suggest", {"query": query}, function (data) {
                if (data.status == 'Ok')
                    return process(data.result);
            });
        }
        });
	</script>
	{%endif%}
	{%endif%}


