<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <title>大数据创新中心 - SmartBeta</title>
    </head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="static/javascript/bootstrap3-typeahead.min.js"></script>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/scrolling-nav.css">
	<script src="static/javascript/scrolling.js"></script>
	<script src="static/javascript/ease.js"></script>
</head>
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
       <div class="navbar-header page-scroll">
                <a class="navbar-brand page-scroll" href="#page-top">Smart Beta</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse" style="padding-right:50px;">
                <ul class="nav navbar-nav" style="float:right;">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">产品介绍</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#theory">核心理论</a>
                    </li>
                    <li>
						<a class="page-scroll" href="#">注册/登录</a>
                    </li>
                </ul>
            </div>        
		</nav>
		<section id="intro" class="intro-section">
		<div class="container-fluid">
            <div id="center">
                <div class="row head" align=center>
                <div class="col-lg-12">
                    <div class="input-group">
                        <input type="text" class="form" placeholder="请输入基金名称/代码" style="width:500px; align:center; height:35px;">
						<button class="btn btn-wide btn-primary mll">Go!</button>
                    </div>
                </div>
            </div>
            </div>
        </div>
		</section>
		<section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>About Section</h1>
                </div>
            </div>
        </div>
    </section>
	<section id="theory" class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Services Section</h1>
                </div>
            </div>
        </div>
    </section>
        <footer>
            <div class="contain-fluid">
                <div class="row">
                               <p>&copy;2016 <a href="http://www.yixin.com">宜信</a>・<a href="http://cbdic.creditease.cn">大数据创新中心</a></a> 版权所有</p>

                </div>
            </div>
        </footer>
        <script>
        var subjects = ['PHP', 'MySQL', 'SQL', 'PostgreSQL', 'HTML', 'CSS', 'HTML5', 'CSS3', 'JSON'];
        $('#search').typeahead({

            source: function (query, process) {
                return $.get("http://localhost:5000/api/suggest", {"query": query}, function (data) {
                if (data.status == 'Ok')
                    console.log(data.result);
                    return process(data.result);
            });
        }
        });

        </script>
    </body>
</html>
