<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <title>大数据创新中心 - SmartBeta</title>
    </head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="static/javascript/bootstrap3-typeahead.min.js"></script>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/scrolling-nav.css">
	<script src="static/javascript/scrolling.js"></script>
	<script src="static/javascript/ease.js"></script>
</head>
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
	<nav class="navbar navbar-default navbar-fixed-top" style='background:#272727' role="navigation">
        <div class="navbar-header page-scroll">
            <a class="page-scroll" href="#page-top" style="padding-left:50px"><img src="static/img/logo.PNG" height=50px></a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse" style="padding-right:50px;background:#272727">
            <ul class="nav navbar-nav" style="float:right;">
                <li class="hidden">
                    <a class="page-scroll" href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#theory">核心理论</a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">产品介绍</a>
                </li>
                <li>
					{%if not username%}
					<a class="page-scroll" href="/login">登录</a>
					{%else%}
					<a class="page-scroll" href="#">{{username}}</a></li><li>
					<a class="page-scroll" href="/logout">登出</a>
					{%endif%}
                </li>
            </ul>
        </div>
	</nav>
	<section id="intro" class="intro-section">
    	<div class="container-fluid">
                <div id="center">

                    <img src="static/img/start_beta.jpg" style="height:120px;position:absolute;top:130px;left:0;right:0;margin:0 auto;" />


                    <div class="row head" align=center>
                    <div class="col-lg-12">
        				<form action="/fundinfo" method="post">
                            <div class="input-group">
                                <input type="text" class="form" id="search" name="fundquery" placeholder="请输入基金名称/代码" style="width:500px; align:center; height:35px;">
            					<input type="submit" class="btn btn-wide btn-default mll" value="Go!">
                            </div>
        				</form>
                    </div>
                </div>
            </div>
        </div>
	</section>
	<section id="theory" class="services-section">
		<img src="static/img/bg1.png" width=100% height=100%>
    </section>
	<section id="about" class="about-section">
		<img src="static/img/bg2.png" width=100% height=100%>
    </section>
    <footer>
        <div class="contain-fluid">
            <div class="row">
                <p>&copy;2016 <a href="http://www.yixin.com">宜信</a>・<a href="http://cbdic.creditease.cn">大数据创新中心</a></a> 版权所有</p>
            </div>
        </div>
    </footer>

    <script>
        $('#search').typeahead({

            source: function (query, process) {
                return $.get("http://localhost:5000/api/suggest", {"query": query}, function (data) {
                if (data.status == 'Ok')
                    return process(data.result);
            });
        }
        });

    </script>
    </body>
</html>
